body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: hsl(212, 45%, 89%);
  background-size: cover;
  font-size: 15px;
}

.rounded-panel {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 16px;

  margin: auto;
  margin-top: 152px;

  width: 320px;
  height: 497px;

}

@media (max-width: 992px) {
  .rounded-panel {
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 16px;

    margin: auto;
    margin-top: 0;

    width: 320px;
    height: 497px;

  }

}

.rounded-panel img {
  border-radius: 16px;

  width: 288px;
  height: 288px;

  margin-bottom: 28px;

}

.bold-text {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 21px;
  display: block;
  margin-bottom: 17px;
  padding: 0 17px;
  text-align: center
}

.text {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  display: block;
  margin-bottom: 17px;
  padding: 0 17px;
  text-align: center
}